.post-header-index {
    padding: 0px;
    padding-top: 60px;
    border: 0px;
}
.post-stub a:hover {
    padding: 20px 5px;
    cursor: pointer;
}
.blog-description:after, .post-date:after {
    border: 0px;
    margin: 0px;
}
.page-title, .post-title {
    padding-top: 30px;
}
.container {
    max-width: 808px;
}
.post-content a:hover {
    padding: 0px;
}
.post-stub-date:before {
    content: "";
}
.post-list {
    padding-top: 0px;
}
.post-header {
    padding-top: 60px;
}
.footer-copyright {
    text-transform: none;
}
.footer {
    padding-bottom: 40px;
}
